@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Fauna+One&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
}

::-webkit-scrollbar {
  min-width: 10px;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  background: transparent;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
